body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
 ul, ol{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
 }

 h1, h2, h3, h4, h5, h6, p {
   margin: 0;
 }

 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 img {
   display: block;
 }

 a{
    text-decoration: none;
 }
 /*COMMON */

 .container{
   max-width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
 }



/*HEADER*/

.page-header {
   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}
  
.header-container{
display: flex;
align-items: center;
}

.header-nav {
   display: flex;
   align-items: center;
}

.logo{
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   margin-right: 76px;
}
 
.header-logo .logo-part{
   color: #2e2f42;
   padding: 24px 0;
  
}

.footer-logo .logo-part{
   color: #f4f4fd;
   margin-bottom: 16px;
}


.nav-list {
   display: flex;
   align-items: center;
   gap: 40px;
}
.nav-link{
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
   position: relative;
}

.nav-link.current::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -1px;
   background-color: #404bbf;
   border-radius: 2px;
   width: 100%;
   height: 4px;
}

.contacts{
   font-style: normal;
margin-left: auto;
}

.contacts-list {
   display: flex;
   align-items: center;
   gap: 40px;
}

.contacts-link{
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current
{
   color: #404bbf;
} 

.page-footer{
   background-color: #2e2f42;
}
/*HERO*/

.hero {
   max-width: 1440px;
   margin: 0 auto;
   background-color: #2e2f42;
   padding:188px 0 ;
   background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   
}

.hero-container { 
   

 
}

.hero-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto;
margin-bottom: 48px;

}

.hero-order-btn {
background-color: #4d5ae5;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px; 
margin: 0 auto;
transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-order-btn:hover{
background-color: #404bbf;
}
.hero-order-btn:focus{
background-color: #404bbf;
}


/*Components*/

.components {
   padding-top: 120px;
   padding-bottom: 120px;
}
.components-list {
   display: flex;
   gap: 24px;

   
}
.components-item {
   width: calc((100% - 72px) / 4);
}

.components-icon {
display: flex; 
align-items: center; 
justify-content: center; 
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;
}

.components-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.components-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}


/*TEAM*/

.team {
  background-color: #F4F4FD ; 
  padding: 120px 0;
}


.team-title {
text-transform: capitalize;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}



.team-list{
   display: flex;
   gap: 24px;

 

}

.team-item {
background-color: #FFFFFF;
width: calc((100% -3 * 24px ) /4 );
border-radius: 0px 0px 4px 4px;
box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.team-image {
   margin-bottom: 32px;
 
}

.item-container {
   padding: 32px 0;
}
.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 32px;
}

.icon-list {
   display: flex;
   gap: 24px;
   align-items: center;
   justify-content: center;

}
.icon-item {
   width: 40px;
   height: 40px;
}
.icon-link {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: #4d5ae5; 
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus
 {
   background-color: #404bbf;
}
.icon-image {
   fill: #f4f4fd;
}

/*PORTFOLIO*/

.portfolio {
   background-color: #FFFFFF;
   padding: 120px 0;
}



.portfolio-title {
text-transform: capitalize;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.portfolio-list {
   display: flex;
   gap: 48px 24px;
   flex-wrap: wrap;
}

.portfolio-item {
   transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-item:hover {
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   
}


.portfolio-item:hover .portfolio-item-text {
   transform: translateY(0);
}
.item-wrapper {
   position: relative;
   overflow: hidden;
}
.portfolio-item-text {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
padding: 40px 32px;
 background-color: #4d5ae5;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
   margin-bottom: 64px;
}

.portfolio-container {
   padding: 32px 16px; 
   border: 1px solid #e7e9fc;
   border-top: none  
}

.portfolio-subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;   
}



.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 32px;
}

/*FOOTER*/


.container-footer {
   display: block;
   margin: 0 auto;
}
.page-footer {
   background-color: #2e2f42;
   padding: 100px 0;
  
}
.container-footer {
   display: flex;
   align-items: baseline;
   gap: 120px;
  
}

.footer-info{
   margin-right: 120px;
}
.footer-logo {
   display: inline-block;
   margin-bottom: 16px;
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
}

.footer-social {
  

}
.social-media-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
display: inline-block;
margin-bottom: 16px;
}

.social-media-list {
   display: flex;
   gap: 16px;
}

.social-media-item {
   width: 40px;
   height: 40px;
}

.social-media-link {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-media-link:hover,
.social-media-link:focus
 {
   background-color: #31d0aa;
}